

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9eb5ca;
    box-sizing: border-box;
}

h1 {
    color: rgb(158, 158, 149);
    text-align: center;
}

body {
    background-color: #192734;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 700px;
}

ul, ol {
    text-align: justify;
    list-style-position: inside;
}

li {
    margin: 10px 0;
}

body p {
    text-align: center;
    font-size: larger;
}


h1 span,
#stylish-tilde {
    color: rgb(204, 204, 194);
    display: block;
    font-size: larger;
    text-align: center;
    margin-bottom: 50px;
}

#stylish-tilde{
    margin: 20px;
}

.ing {
    font-size: 105%;
}

#homepage-links {
    text-align: center;
    padding: 5px 40px;
}

#homepage-links li {
    width: 200px;
    font-size: larger;
    display: block;
    margin: 40px auto;
}

#homepage-links a {
    color: rgb(158, 158, 149);
    text-decoration: underline dotted;
}

.return-home-link {
    font-size: large;
    display: block;
    text-align: center;
}
