

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9eb5ca;
}

h1 {
    color: rgb(158, 158, 149);
    background-color: #1f2d3a;
    text-align: center;
}

body {
    background-color: #192734;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 700px;
}

ul, ol {
    text-align: justify;
    list-style-position: inside;
}

li {
    margin: 10px 0;
}

.ing {
    font-size: 105%;
}

#homepage-links {
    text-align: center;
}

#homepage-links li {
    margin: 40px 0;
    font-size: larger;
}